<div class="fingerprint">
    <img src="{{fingerprint}}" class="fingerprint__img">
    <div class="fingerprint__btn fingerprint__btn-info" id="fingerprint__btn-info">
        <i class="fa fa-info"></i>
    </div>
    <div class="fingerprint__btn fingerprint__btn-reset" id="fingerprint__btn-reset">
        <i class="fa fa-redo"></i>
    </div>
    <div class="fingerprint__overlay-info hide">
        {{res 'fingerprintInfo'}}
    </div>
</div>